<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>edu.ntust.apvs.crawler.util.GooglePlayCrawlerTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>shouldBrowseSubCategories</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>shouldFetchPermissions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>shouldBrowse</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>shouldFetchDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>shouldLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>shouldList</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>shouldCheckin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>shouldSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>shouldUploadDeviceConfiguration</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>shouldFetchBulkDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>shouldListSubCategories</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>shouldDownload</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
