<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c4717c">  <td>14/05/16 14:00:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GooglePlayCrawlerTest.setup()[pri:0, instance:edu.ntust.apvs.crawler.util.GooglePlayCrawlerTest@1a0dcaa]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1318180415</td>   <td></td> </tr>
<tr bgcolor="c4717c">  <td>14/05/16 14:00:06</td>   <td>353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GooglePlayCrawlerTest.shouldCheckin()[pri:0, instance:edu.ntust.apvs.crawler.util.GooglePlayCrawlerTest@1a0dcaa]">shouldCheckin</td> 
  <td>main@1318180415</td>   <td></td> </tr>
<tr bgcolor="c4717c">  <td>14/05/16 14:00:08</td>   <td>2099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GooglePlayCrawlerTest.shouldLogin()[pri:0, instance:edu.ntust.apvs.crawler.util.GooglePlayCrawlerTest@1a0dcaa]">shouldLogin</td> 
  <td>main@1318180415</td>   <td></td> </tr>
<tr bgcolor="c4717c">  <td>14/05/16 14:00:14</td>   <td>7778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GooglePlayCrawlerTest.shouldBrowse()[pri:0, instance:edu.ntust.apvs.crawler.util.GooglePlayCrawlerTest@1a0dcaa]">shouldBrowse</td> 
  <td>main@1318180415</td>   <td></td> </tr>
<tr bgcolor="c4717c">  <td>14/05/16 14:00:14</td>   <td>8298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GooglePlayCrawlerTest.shouldBrowseSubCategories()[pri:0, instance:edu.ntust.apvs.crawler.util.GooglePlayCrawlerTest@1a0dcaa]">shouldBrowseSubCategories</td> 
  <td>main@1318180415</td>   <td></td> </tr>
<tr bgcolor="c4717c">  <td>14/05/16 14:00:15</td>   <td>8496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GooglePlayCrawlerTest.shouldDownload()[pri:0, instance:edu.ntust.apvs.crawler.util.GooglePlayCrawlerTest@1a0dcaa]">shouldDownload</td> 
  <td>main@1318180415</td>   <td></td> </tr>
<tr bgcolor="c4717c">  <td>14/05/16 14:00:16</td>   <td>9480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GooglePlayCrawlerTest.shouldFetchBulkDetails()[pri:0, instance:edu.ntust.apvs.crawler.util.GooglePlayCrawlerTest@1a0dcaa]">shouldFetchBulkDetails</td> 
  <td>main@1318180415</td>   <td></td> </tr>
<tr bgcolor="c4717c">  <td>14/05/16 14:00:16</td>   <td>9549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GooglePlayCrawlerTest.shouldFetchDetails()[pri:0, instance:edu.ntust.apvs.crawler.util.GooglePlayCrawlerTest@1a0dcaa]">shouldFetchDetails</td> 
  <td>main@1318180415</td>   <td></td> </tr>
<tr bgcolor="c4717c">  <td>14/05/16 14:00:16</td>   <td>9617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GooglePlayCrawlerTest.shouldFetchPermissions()[pri:0, instance:edu.ntust.apvs.crawler.util.GooglePlayCrawlerTest@1a0dcaa]">shouldFetchPermissions</td> 
  <td>main@1318180415</td>   <td></td> </tr>
<tr bgcolor="c4717c">  <td>14/05/16 14:00:16</td>   <td>9710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GooglePlayCrawlerTest.shouldList()[pri:0, instance:edu.ntust.apvs.crawler.util.GooglePlayCrawlerTest@1a0dcaa]">shouldList</td> 
  <td>main@1318180415</td>   <td></td> </tr>
<tr bgcolor="c4717c">  <td>14/05/16 14:00:16</td>   <td>9886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GooglePlayCrawlerTest.shouldListSubCategories()[pri:0, instance:edu.ntust.apvs.crawler.util.GooglePlayCrawlerTest@1a0dcaa]">shouldListSubCategories</td> 
  <td>main@1318180415</td>   <td></td> </tr>
<tr bgcolor="c4717c">  <td>14/05/16 14:00:16</td>   <td>10010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GooglePlayCrawlerTest.shouldSearch()[pri:0, instance:edu.ntust.apvs.crawler.util.GooglePlayCrawlerTest@1a0dcaa]">shouldSearch</td> 
  <td>main@1318180415</td>   <td></td> </tr>
<tr bgcolor="c4717c">  <td>14/05/16 14:00:16</td>   <td>10110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GooglePlayCrawlerTest.shouldUploadDeviceConfiguration()[pri:0, instance:edu.ntust.apvs.crawler.util.GooglePlayCrawlerTest@1a0dcaa]">shouldUploadDeviceConfiguration</td> 
  <td>main@1318180415</td>   <td></td> </tr>
</table>
